<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>809562943031-1munhrt6m6afe5to2s3tfrr7ja2hg5ml.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809562943031-1munhrt6m6afe5to2s3tfrr7ja2hg5ml</string>
	<key>API_KEY</key>
	<string>AIzaSyDFbgtMTlAHGdU50HEAxYmoRTASd8TX3RY</string>
	<key>GCM_SENDER_ID</key>
	<string>809562943031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Root.NewApp</string>
	<key>PROJECT_ID</key>
	<string>exchangeapp-3f4c5</string>
	<key>STORAGE_BUCKET</key>
	<string>exchangeapp-3f4c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809562943031:ios:441486bdab2d406a</string>
	<key>DATABASE_URL</key>
	<string>https://exchangeapp-3f4c5.firebaseio.com</string>
</dict>
</plist>